.c3-region.negative-percentage {
  fill: red;
}
.c3-region.positive-percentage {
  fill: blue;
}
.c3-xgrid-line.timeline text{
  fill: white;
  font-size: 12px;
}
.c3-xgrid-line.timeline line{
  stroke: white;
  stroke-width: 1px;
}
.narrative-text {
  text-align: justify;
  text-justify: inter-word;
}
#chart .c3-line-GDP-Growth {
  stroke-width: 3px;
}
#chart .c3-line-Inflation {
  stroke-width: 3px;
}
#chart .c3-line-Unemployment {
  stroke-width: 3px;
}
#chart .c3-line-PeopleOpinion {
  stroke-width: 3px;
  stroke-dasharray: 5,5;
}
#chart .c3-line-FutureOpinion {
  stroke-width: 3px;
  stroke-dasharray: 5,5;
}
#chart .c3-line-United-States {
  stroke-width: 3px;
}
#chart .c3-line-Germany {
  stroke-width: 3px;
}
#chart .c3-line-Japan {
  stroke-width: 3px;
}
body {
	font-family: 'Montserrat', sans-serif;
  fill: white;
}
.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.legend-scale ul li {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 2px;
}
ul.legend-labels li span {
	display: block;	
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid #999;
}
.legend-padding {
	padding-top: 15px;
}