<!DOCTYPE html>
<html ng-app="datavizApp">
<head>
	<!-- Load c3.css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="css/c3.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/flag-icon.min.css" rel="stylesheet" type="text/css">
	<link href="css/global.css" rel="stylesheet" type="text/css">
	<link href="css/listgroup.horizontal.css" rel="stylesheet" type="text/css">
	<link href="css/chart.css" rel="stylesheet" type="text/css">

	<!-- Load d3.js and c3.js -->
	<script src="lib/d3.min.js" charset="utf-8"></script>
	<script src="lib/c3.min.js"></script>
	<title>C3.js Demo</title>
</head>
<body ng-controller="mainController" ng-init="initData()">
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>The 2008 Great Recession <small>and its after-impact</small></h1>
			</div>
		</div>
	</div>
	<div class="col-md-3 narrative-text">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-offset-1 col-md-1 h5">By country</div>
			<div class="col-md-4 list-group-horizontal">
			  <a href="#" class="list-group-item tooltips" ng-click="loadChart($index)" ng-class="data.class" ng-repeat="data in dataset" style="background-color:grey; color:white">
			    <span class="flag-icon" ng-class="'flag-icon-'+data.shortcode"></span><span1>{{data.name}}</span1>
			  </a>
			</div>
			<div class="col-md-offset-1 col-md-1 h5">By criterion</div>
			<div class="col-md-4 list-group-horizontal">
			  <a href="#" class="list-group-item tooltips" ng-click="loadParameter($index)" ng-class="parameter.class" ng-repeat="parameter in parameterColumn" style="background-color:grey; color:white">
			    <img src="icon/{{parameter.name}}.png" style="margin:-8px -4px;width:24px;height:24px"><span1>{{parameter.name}}</span1>
			  </a>
			</div>
			<hr>
		</div>
		<div class="row">
			<div id="chart"></div>
		</div>
	</div>
</div>
<div class="col-md-offset-2 col-md-8 dataviz-c3 page-footer">
	By: Evan Budianto, Muhammad Nassirudin, Renusa Andra Prayogo, dan Arini Hasianna Sirait.
</div>
</body>
	<script src="lib/angular.min.js" charset="utf-8"></script>
	<script src="script.js"></script>
</html>