<!DOCTYPE html>
<html ng-app="datavizApp">
<head>
	<!-- Load c3.css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="css/c3.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/flag-icon.min.css" rel="stylesheet" type="text/css">
	<link href="css/listgroup.horizontal.css" rel="stylesheet" type="text/css">
	<link href="chart.css" rel="stylesheet" type="text/css">

	<!-- Load d3.js and c3.js -->
	<script src="lib/d3.min.js" charset="utf-8"></script>
	<script src="lib/c3.min.js"></script>
	<title>C3.js Demo</title>
</head>
<body ng-controller="mainController" ng-init="initData()">
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>The 2008 Great Recession <small>and its impact on our live</small></h1>
			</div>
		</div>
	</div>
	<div class="col-md-offset-3 col-md-9">
		<div class="col-md-2 h4">By Country</div>
		<div class="col-md-10 list-group-horizontal">
		  <a href="#" class="list-group-item" ng-click="loadChart($index)" ng-class="data.class" ng-repeat="data in dataset">
		    <span class="flag-icon" ng-class="'flag-icon-'+data.shortcode"></span>&nbsp;{{data.name}}
		  </a>
		</div>
	</div>
	<hr>
	<div class="col-md-offset-3 col-md-9">
		<div class="col-md-2 h4">By Criterion</div>
		<div class="col-md-10 list-group-horizontal">
		  <a href="#" class="list-group-item" ng-click="loadParameter($index)" ng-class="parameter.class" ng-repeat="parameter in parameterColumn">
		    {{parameter.name}}
		  </a>
		</div>
	</div>
	<div class="col-md-3 narrative-text">
		<h3>{{dataset[selected].name}}</h3>
		{{dataset[selected].text}}
	</div>
	<div class="col-md-9">
		<div id="chart"></div>
		<h4>Explanation on legend</h4>
		<h5>
			<div class="legend-scale">
				<ul class='legend-labels'>
					<div class="row">
						<li>
							<div class="col-md-1 legend-padding">
								<span style='background:rgb(31, 119, 180);'></span>
							</div>
							<div class="col-md-11">
								<strong>GDP Growth</strong> 
									<h6>Annual percentage growth rate of GDP at market prices based on constant local currency.</h6>
							</div>
						</li>
					</div>
					<div class="row">
						<li>
							<div class="col-md-1 legend-padding">
								<span style='background:rgb(255, 127, 14);'></span>
							</div>
						<div class="col-md-11">
								<strong>Inflation</strong> 
									<h6>Annual percentage change in the cost to the average consumer of acquiring a basket of goods and services.</h6>
							</div>
						</li>
					</div>
					<div class="row">
						<li>
							<div class="col-md-1 legend-padding">
								<span style='background:rgb(44, 160, 44);'></span>
							</div>
						<div class="col-md-11">
								<strong>Unemployment</strong> 
									<h6>Labor force that is without work but available for and seeking employment.</h6>
							</div>
						</li>
					</div>
					<div class="row">
						<li>
							<div class="col-md-1 legend-padding">
								<span style='background:rgb(214, 39, 40);'></span>
							</div>
						<div class="col-md-11">
								<strong>People Opinion</strong> 
									<h6>People opinion on current economic situation. (Using right Y-Axis)</h6> 	
							</div>
						</li>
					</div>
					<div class="row">
						<li>
							<div class="col-md-1 legend-padding">
								<span style='background:rgb(148, 103, 189);'></span>
							</div>
							<div class="col-md-11">
								<strong>Future Opinion</strong> 
									<h6>People expectation on economic situation over next 12 months. (Using right Y-Axis)</h6>
							</div>
						</li>
					</div>
				</ul>
			</div>
		</h5>
	</div>
</div>
</body>
	<script src="lib/angular.min.js" charset="utf-8"></script>
	<script src="script.js"></script>
</html>